.app-header {
    font-family: KiddosyRegular, sans-serif;
    position: sticky;
    background-color: $clr1;
    margin-bottom: 20px;
}

.app-header nav {
    display: flex;
    justify-content: flex-start;
    font-size: 1.5em;
}

.home-link {
    background-color: $clr5;
}

.toy-link {
    background-color: $clr3;
}

.about-link {
    background-color: $clr4;
}

.nav-link {
    padding: 10px 25px;
    color: $txt-clr0;
    text-decoration: none;
}

.nav-link:hover {
    opacity: 0.8;
    cursor: pointer;
}
