
.toy-details {
  display: flex;
  flex-direction: column;
  gap:10px;
  font-size: 1.5em;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.toy-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.toy-details h5 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #888;
}

.toy-details p {
  margin-bottom: 5px;
}

.toy-details ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 5px;
}

.toy-details .category-item {
  display: inline-block;
  margin-right: 10px;
  background-color: #2d52da;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
}

.toy-details .category-item:last-child {
  margin-right: 0;
}

.toy-details .category-item:hover {
  background-color: #0056b3;
  cursor: pointer;
}
